iframe {
  position: absolute;
  top: -240px;
  /* bottom: -100px; */
  width: 100%;
  height: 3000px;
  /* pointer-events: none; */
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
}

.container {
  height: calc(3000px - 350px);
  overflow: hidden;
  position: relative;
}

.hide-ad {
  height: 300px;
  width: 100%;
  background: #ffffff;
  position: absolute;
  bottom: 0px;
}
